# 默认评审人
*       @aqz236

# CI 与仓库配置
/.github/   @aqz236

# 框架本体与可选插件
/packages/core/            @aqz236
/packages/validation/      @aqz236
/packages/openapi/         @aqz236
/packages/cqrs/            @aqz236
/packages/create-hest-app/ @aqz236

# 共享配置
/packages/typescript-config/ @aqz236
/packages/eslint-config/     @aqz236

# 示例与文档
/apps/  @aqz236
